@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.search {
  width: 360px;

  :global {
    .ant-input-prefix {
      left: 10px;
    }
    .ant-input {
      border: none;
      line-height: 36px;
      height: 36px;
      border-radius: 20px;
      font-size: $small-font-size;
      background-color: $theme-purple-color-ultra-light;

      &:not(:first-child) {
        padding-left: 36px;
      }

      &:focus {
        background-color: $white-color;
        box-shadow: 0 0 2px $theme-purple-color;
      }
    }
  }
}
