@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.container {
  width: 800px;
  background-color: white;
  margin-left: 50px;
  display: flex;
  flex-direction: column;

  .header {
    height: 60px;
    margin: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $white-color;

    .avatar_wrapper {
      width: 50px;
      height: 50px;
      margin-right: 12px;

      img {
        @include cover-img;
        border-radius: 50%;
      }
    }

    .post_origin {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .author_name {
        font-size: $base-font-size;
        color: $theme-purple-color-light;
        font-weight: $font-weight-bold;
      }

      .post_time {
        font-size: $small-font-size;
        color: $gray-color-dark;
        font-weight: $font-weight-medium;
      }

    }

    .follow {
      margin-left: auto;
      color: $theme-purple-color;
      border-color: $theme-purple-color;
    }

    .following {
      margin-left: auto;
      color: $white-color;
      background-color: $green-color;
      border: $gray-border;

      .following_hide {
        display: none;
      }
      &:hover {
        background-color: $red-color;
      }
      &:hover .following_show {
        display: none;
      }
      &:hover .following_hide {
        display: inline;
      }
    }
  }

  .body {
    display: block;
    background-color: $white-color;
    font-size: 0;
    cursor: -webkit-zoom-in;
    text-align: center;

    img {
      max-height: 625px;
      max-width: 100%;
      pointer-events: none;
      margin: 0 auto;
    }
  }

  .footer {
    padding: 15px;
    text-align: left;

    .footer_header {
      display: flex;
      align-items: center;

      h3 {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $gray-color-ultra-dark;
        font-size: $base-font-size;
      }

      .buttons {
        color: $gray-color-ultra-dark;

        button {
          margin-left: 10px;

          &:active {
            border: $gray-border;
            box-shadow: none;
          }

          &:focus {
            border: $gray-border;
            box-shadow: none;
          }
        }

        .liked {
          background-color: red;
          color: $white-color;
        }

        .disliked {
          i {
            color: red;
          }

          span {
            color: $gray-color-ultra-dark;
          }
        }
      }
    }

    .footer_description {
      margin-top: 10px;
      font-size: $small-font-size;
      color: $gray-color-dark;
    }
  }
}
