@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.photos_body {
  display: flex;
  justify-content: space-between;

  .column {
    width: calc((100% - 24px * 2) / 3);

    .item {
      margin-bottom: 24px;
    }
  }
}
